
/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
}
h1 {
    background-color: rgb(127, 230, 230);
    padding: 2rem;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
main {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10.5vw;
}
.selectTheCareer{

}
.info {
    width: 100%;
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
.info p {
    border: 1px black solid;
    background-color: rgb(128, 213, 213);
    width: 50%;
    height: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
.expensesBig {
    background-color: #B3E4F3;

}

.expensesBig>p {
    display: flex;
    align-content: center;
    justify-content: center;
}

.pay {

    background-color: #92D7ED;
    display: flex;
    justify-content:space-evenly;
    padding: 1rem;
    align-items: center;
    flex-flow: row nowrap;
    padding-top: 5rem;
    width: 90%;
    margin-left: 3.5vw;
}
.Ecolumns {
    display:flex;
    flex-flow: row nowrap;
    
}
.Ecolumns-numbers > p {
    background: white;
    border-style: solid;
    width: 4vw;
    height: 1.3vw;
    border: solid 1px black;
    margin-top: 0.4rem;
    text-align: center;
    font-weight: 500;
}

.greenBar {
    background-color: #71FBA8;
    width: 100%;
}
.Ecolumns{
    display: flex;
    flex-flow: column wrap;
}
.payTitle{
    position: absolute;
    top: 11rem;
}
.Ecolumns p{
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 0.2rem;
}
