/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    background-color: rgb(127, 230, 230);
    padding: 2rem;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

main {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.info {
    width: 100%;
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.info p {
    border: 1px black solid;
    background-color: rgb(128, 213, 213);
    width: 50%;
    height: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.selectTheCareer {
    display: flex;
    flex-direction: column;
    background-color: #B3E4F3;
  border: red 1px solid;
  width: 87.4%;
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-items: center;
}

.selectTheCareer > h3 {
    text-align: center;
margin-bottom: 1rem;
font-size: 1.5rem;
}

.collapsible {
    background-color: #92D7ED;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: bolder;
  }
  
  .active, .collapsible:hover {
    background-color: #99d8ed;
  }
  
  .collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bolder;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #BAEEFE;
  }

.enterField {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 30%;
}

.enterField input {
    margin-left: 2rem;
   width: 20px;
}

.expensesBig {
    background-color: #B3E4F3;
    text-align: center;
    padding: 2rem;
}

.pay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #92D7ED;
    margin: 4rem;
    align-items: center;
    padding: 2rem;
}

.payTitle {
    padding-bottom: 1rem;
    width: 100%;
    font-size: 1.5rem;
}

.Ecolumns-numbers>p {
    background: rgb(215, 215, 215);
    border-style: solid;
    width: 4vw;
    height: 1.3vw;
    border: solid 1px rgb(0, 0, 0);
    margin-top: 0.4rem;
    text-align: center;
    font-weight: 500;
}

.greenBar {
    background-color: #71FBA8;
    width: 104rem;
    position: sticky;
    bottom: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstBlock>p {
    margin-left: 10rem;
    margin-right: 10rem;
}

.secondBlock {
    width: 100%;
    display: flex;
}

.firstBlock {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    width: 100%;
}

.leftHalfGreen, .rightHalfGreen{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.leftHalfGreen > p, .rightHalfGreen > p{
    margin-left: 5rem;
    margin-right: 5rem;
}

.Ecolumns p {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 0.2rem;
}

.desire {
    display: flex;

}

.left {
    width: 50rem;
}

.Incomecolumn, .moreInfo{
    background-color: #92D7ED;
}

.expenses, .Incomecolumn {
    width: 50rem;
    background-color: #92D7ED;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding: 1rem;
}

.moreInfo {
    width: 50rem;
    background-color: #80d2ee;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding: 1rem;
    border: black 1px solid;
}

h4{
    width: 100%;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.expenses p, .Incomecolumn p,
input {
    flex-basis:24%;
    margin-top: 5px;
    margin-bottom: 5px;  
      font-size: 1rem;
}

footer {
    display: flex;
    justify-content: center;
}